.banner{
    background-color: rgba(128, 128, 128, 0.507);
    color:white;
    text-align: center;
    font-size: 37pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0 20px 40px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p{
    color: gray;
    text-align: center;
    font-size: 24pt;
}

ul{
    list-style-type: circle;
    color: gray;
}

div.quote {
    width: 400px;
    font-style: italic;
    text-align: center;
}
